 [Unit]
 Description=Logs sensors
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/pi/sensors
 User=pi
 ExecStart=/usr/bin/python3 /home/pi/sensors/run_brew_logger.py
 StandardOutput=file:/home/pi/sensors/service-stdout.log
 StandardError=file:/home/pi/sensors/service-stderr.log
 Restart=Always

 [Install]
 WantedBy=multi-user.target
